<a href="https://colab.research.google.com/github/SumnerDolleman/Research-Methods-Data-5600/blob/main/ResearchDATA5600.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd

df  = pd.read_csv('https://github.com/SumnerDolleman/Research-Methods-Data-5600/blob/main/ACSST1Y2019.S1502-2022-02-21T231940.csv?raw=true')
df.head

<bound method NDFrame.head of     Total population 25 years and over with a Bachelor's degree or higher  ...                                Field Category
0                                      Total for 25 =<                     ...                                    All Fields
1                              Science and Engineering                     ...                 Science and Engineering Total
2                Computers, Mathematics and Statistics                     ...                       Science and Engineering
3    Biological, Agricultural, and Environmental Sc...                     ...                       Science and Engineering
4                        Physical and Related Sciences                     ...                       Science and Engineering
..                                                 ...                     ...                                           ...
175                            Science and Engineering                     ...                 Science and Engineering Total
176             Science and Engineering Related Fields                     ...  Science and Engineering Related Fields Total
177                                           Business                     ...                                Business Total
178                                          Education                     ...                               Education Total
179                        Arts, Humanities and Others                     ...             Arts, Humanities and Others Total

[180 rows x 16 columns]>

Clean your dataset of missing values and remove all variables not necessary for your project.

In [31]:
df1= df

In [32]:
df1.drop(['Percent Margin of Error ±','Male Estimate','Male Margin of Error ±','Percent Male Estimate','Percent Male Margin of Error ±','Female Estimate','Female Margin of Error ±','Percent Female Estimate', 'Percent Female Margin of Error ±'], axis=1)

    Total population 25 years and over with a Bachelor's degree or higher  ...                                Field Category
0                                      Total for 25 =<                     ...                                    All Fields
1                              Science and Engineering                     ...                 Science and Engineering Total
2                Computers, Mathematics and Statistics                     ...                       Science and Engineering
3    Biological, Agricultural, and Environmental Sc...                     ...                       Science and Engineering
4                        Physical and Related Sciences                     ...                       Science and Engineering
..                                                 ...                     ...                                           ...
175                            Science and Engineering                     ...                 Science and Engineering Total
176             Science and Engineering Related Fields                     ...  Science and Engineering Related Fields Total
177                                           Business                     ...                                Business Total
178                                          Education                     ...                               Education Total
179                        Arts, Humanities and Others                     ...             Arts, Humanities and Others Total

[180 rows x 7 columns]

Calculate Mean, Median and Mode for all the remaining variables in the data set (min. 2 independent variables and one dependent variable).

Calculate the range (minimum to maximum and three quartile values), variance and standard deviations for the variables in the dataset.

What can you conclude about this data set? Can you characterize your key variables as having a normal distribution? Why or why not? Provide support for your answers.